# use vscode settings here
!.vscode
.vscode/launch.json

bin
obj
csx
.vs
edge
Publish
.coverage
.DS_Store

*.user
*.suo
*.cscfg
*.Cache
project.lock.json
*.egg-info
/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist
build
specs
vendor

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.python-version

# python tools cache
.pytest_cache
.ruff_cache
.mypy_cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# coverage artifact
ci/*coverage*
!ci/scripts
htmlcov
