version: 2
interactions:
  - id: 0
    request:
      host: forwarderintegrationtest.blob.core.windows.net
      body: ""
      form: {}
      headers:
        X-Ms-Date:
          - Mon, 19 Aug 2024 19:06:19 GMT
        x-ms-version:
          - "2023-11-03"
      url: https://forwarderintegrationtest.blob.core.windows.net/?comp=list&include=metadata&prefix=insights-logs-
      method: GET
    response:
        - chunked
      body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x2E\x30\"\x20\x65\x6E\x63\x6F\x64\x69\x6E\x67\x3D\"\x75\x74\x66\x2D\x38\"\x3F\x3E\x3C\x45\x6E\x75\x6D\x65\x72\x61\x74\x69\x6F\x6E\x52\x65\x73\x75\x6C\x74\x73\x20\x53\x65\x72\x76\x69\x63\x65\x45\x6E\x64\x70\x6F\x69\x6E\x74\x3D\"\x68\x74\x74\x70\x73\x3A\x2F\x2F\x66\x6F\x72\x77\x61\x72\x64\x65\x72\x69\x6E\x74\x65\x67\x72\x61\x74\x69\x6F\x6E\x74\x65\x73\x74\x2E\x62\x6C\x6F\x62\x2E\x63\x6F\x72\x65\x2E[...]
  - id: 1
    request:
      host: forwarderintegrationtest.blob.core.windows.net
      body: ""
      form: {}
      headers:
        X-Ms-Date:
          - Mon, 19 Aug 2024 19:06:20 GMT
        x-ms-version:
          - "2023-11-03"
      url: https://forwarderintegrationtest.blob.core.windows.net/insights-logs-functionapplogs?comp=list&include=snapshots%2Cversions&restype=container
      method: GET
    response:
        - chunked
      body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x6[...]
  - id: 2
    request:
      host: forwarderintegrationtest.blob.core.windows.net
      body: ""
      form: {}
      headers:
        X-Ms-Date:
          - Mon, 19 Aug 2024 19:06:20 GMT
        x-ms-version:
          - "2023-11-03"
      url: https://forwarderintegrationtest.blob.core.windows.net/insights-logs-functionapplogs/resourceId=%2FSUBSCRIPTIONS%2F0B62A232-B8DB-4380-9DA6-640F7272ED6D%2FRESOURCEGROUPS%2FFORWARDER-INTEGRATION-TESTING%2FPROVIDERS%2FMICROSOFT.WEB%2FSITES%2FFORWARDERINTEGRATIONTESTING%2Fy=2024%2Fm=08%2Fd=19%2Fh=19%2Fm=00%2FPT1H.json
      method: HEAD
    response:
      body: ""
      headers:
        Content-Type:
          - application/octet-stream
        Etag:
          - '"0x8DCC081D87B48B0"'
        Last-Modified:
          - Mon, 19 Aug 2024 19:05:09 GMT
        X-Ms-Blob-Committed-Block-Count:
          - "1"
        X-Ms-Blob-Type:
          - AppendBlob
        X-Ms-Creation-Time:
          - Mon, 19 Aug 2024 19:05:09 GMT
        X-Ms-Lease-State:
          - available
        X-Ms-Lease-Status:
          - unlocked
        X-Ms-Server-Encrypted:
          - "true"
        X-Ms-Version:
          - "2023-11-03"
      status: 200 OK
      code: 200
      duration: 215.005584ms
  - id: 3
    request:
      host: forwarderintegrationtest.blob.core.windows.net
      body: ""
      form: {}
      headers:
        X-Ms-Date:
          - Mon, 19 Aug 2024 19:06:21 GMT
        x-ms-range:
          - bytes=0-1048575
        x-ms-version:
          - "2023-11-03"
      url: https://forwarderintegrationtest.blob.core.windows.net/insights-logs-functionapplogs/resourceId=%2FSUBSCRIPTIONS%2F0B62A232-B8DB-4380-9DA6-640F7272ED6D%2FRESOURCEGROUPS%2FFORWARDER-INTEGRATION-TESTING%2FPROVIDERS%2FMICROSOFT.WEB%2FSITES%2FFORWARDERINTEGRATIONTESTING%2Fy=2024%2Fm=08%2Fd=19%2Fh=19%2Fm=00%2FPT1H.json
      method: GET
    response:
      body: "{ \"time\": \"2024-08-19T19:03:11Z\", \"resourceId\": \"/SUBSCRIPTIONS/0B62A232-B8DB-4380-9DA6-640F7272ED6D/RESOURCEGROUPS/FORWARDER-INTEGRATION-TESTING/PROVIDERS/MICROSOFT.WEB/SITES/FORWARDERINTEGRATIONTESTING\", \"category\": \"FunctionAppLogs\", \"operationName\": \"Microsoft.Web/sites/functions/log\", \"level\": \"Informational\", \"location\": \"East US\", \"properties\": {'appName':'','roleInstance':'BD28A314-638596906109475023','message':'LoggerFilterOptions\\n{\\n  \\'MinLevel\\': \\'None\\',\\n  \\'Rules\\': [\\n    {\\n      \\'ProviderName\\': null,\\n      \\'CategoryName\\': null,\\n      \\'LogLevel\\': null,\\n      \\'Filter\\': \\'<AddFilter>b__0\\'\\n    },\\n    {\\n      \\'ProviderName\\': \\'Microsoft.Azure.WebJobs.Script.WebHost.Diagnostics.SystemLoggerProvider\\',\\n      \\'CategoryName\\': null,\\n      \\'LogLevel\\': \\'None\\',\\n      \\'Filter\\': null\\n    },\\n    {\\n      \\'ProviderName\\': \\'Microsoft.Azure.WebJobs.Script.WebHost.Diagnostics.SystemLoggerProvider\\',\\n      \\'CategoryName\\': null,\\n      \\'LogLevel\\': null,\\n      \\'Filter\\': \\'<AddFilter>b__0\\'\\n    },\\n    {\\n      \\'ProviderNam[...]
